<!-- <launch>
    <group ns="map1">
        <node pkg="map_server" type="map_server" name="map1_server"
              args="$(find fast_lio)/PCD/scans_507_in.yaml">
            <remap from="map" to="/map1_raw"/>
        </node>
    </group>

    <group ns="map2">
        <node pkg="map_server" type="map_server" name="map2_server"
              args="$(find fast_lio)/PCD/scans_507_out.yaml">
            <remap from="map" to="/map2_raw"/>
        </node>
    </group>

     <node pkg="map_switch2" type="MapBridge" name="MapBridge" output="screen" />

</launch> -->

<launch>

  <rosparam param="/available_pcd_maps">['map1', 'map2']</rosparam>
  <rosparam param="/available_maps">['map1', 'map2']</rosparam>

  <rosparam param="/target_pcd_map">map1</rosparam>
  <rosparam param="/target_map">map1</rosparam>

<group ns="map1">
  <arg name="3dmap_path" default="$(find fast_lio)/PCD/scans_507_in.pcd" />
  <arg name="gridmap_path" default="scans_507_in.yaml" />

  <node pkg="pcl_ros" type="pcd_to_pointcloud" name="pcd_map1_pub" output="screen"
        args="$(arg 3dmap_path) 5 _frame_id:=pcd_map cloud_pcd:=/map1/pcd_map" />

  <node pkg="map_server" type="map_server" name="map1_server"
      args="$(find fast_lio)/PCD/scans_507_in.yaml">
      <remap from="map" to="/map1_raw"/>
  </node>
</group>


<group ns="map2">
  <arg name="3dmap_path" default="$(find fast_lio)/PCD/scans_507_out.pcd" />
  <arg name="gridmap_path" default="scans_507_out.yaml" />

  <node pkg="pcl_ros" type="pcd_to_pointcloud" name="pcd_map2_pub" output="screen"
        args="$(arg 3dmap_path) 5 _frame_id:=pcd_map cloud_pcd:=/map2/pcd_map" />

  <node pkg="map_server" type="map_server" name="map2_server"
      args="$(find fast_lio)/PCD/scans_507_out.yaml">
      <remap from="map" to="/map2_raw"/>
  </node>
</group>


<node pkg="fast_lio_global" type="fastlio_mapping_global" name="laserMapping" output="screen" />

<node pkg="fast_lio_global" type="global_localization.py" name="global_localization" output="screen">
  <env name="PYTHONPATH" value="/home/orangepi/.local/lib/python3.8/site-packages"/>
</node>

<node pkg="fast_lio_global" type="transform_fusion.py" name="transform_fusion" output="screen" />


<node pkg="map_switch2" type="MapBridge" name="MapBridge" output="screen" />
<node pkg="map_switch2" type="PcdBridge" name="PcdBridge" output="screen" />
</launch>